body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
  background-color: darkturquoise;
  height: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-evenly;
}

.navbar * img {
  width: 6rem;
}

h2 {
  color:black;
  margin-top: 0em;
}


#search-box {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid black;
  width: 15rem;
  height: 2.2rem;
  font-size: large;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
